/*-- scss:defaults --*/

/* Importo TODAS mis Google Fonts usando el link */
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Merienda:wght@300..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Crimson+Text:ital@0;1&family=Sail&display=swap');

/* Defino la fuente base de la presentación */
$font-family-sans-serif: "Montserrat Alternates", sans-serif;  // por ejemplo

/* Otros parámetros globales */
$presentation-font-size-root: 46px;
$link-color: #C71585;


$bg-color: #5699bd;



